@tailwind base;
@tailwind components;
@tailwind utilities;

/* Sidebar offset for main content */
.main-content {
    margin-left: 220px;
    transition: margin-left 0.3s;
}
@media (max-width: 991px) {
    .main-content {
        margin-left: 0;
    }
}
